# package linters
black>=22.6.0
mypy>=1.0.0, <2.0.0
mypy_extensions>=1.0.0
pydocstyle[toml]>=6.1.1
pylint>=2.14.5

# Testing
pytest>=7.4.0
pytest-cov>=4.1.0
pytest-xdist>=3.3.1

# edit_install
versioningit>=2.2.0

# For documentation requirements se docs/requirements.txt
